@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');

* {
  box-sizing: border-box;
}

html {
  background-color: #cfe598;
  font-size: 18px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif,;
}

body {
  background-color: rgb(131, 227, 131);
  box-shadow: 0 0 12px -2px black;
  padding: 0;
  max-width: 960px;
  margin: 0 auto;
}
a {
  color: rgb(113, 168, 204);
  text-decoration: none;
  font-size: x-large;
  margin: 0 5px;
}

nav {
  box-shadow: 0 0 12px -2px rgb(0, 0, 0);
  position: fixed;
  left: 0;
  right: 0;
  align-items: center;
  background-color: #e8d6d6;
  color: aliceblue;
  display: flex;
  height: 40px;
  padding: 10px;
  display: flex;
  justify-content:space-evenly;
}

main {
  min-height: 100vh;
  padding: 85px 24px 96px;
  box-shadow: 0 0 12px -2px black;
  color: rgb(0, 132, 247);
  font-family:Arial, Helvetica, sans-serif;
  font-size: 25px;
}

footer {
  background-color: #e8d6d6;
  color: aliceblue;
  height: 60px;
  padding: 10px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  box-shadow: 0 0 12px -2px black;
}

footer a {
  margin: 0 25px;
}

footer .media-link {
  height: 45px;
}

.active {
  border-bottom: 1px solid #c0c0c0;
}

section {
  border-top: 1px solid #bbb;
  font-size: 16px;
}

.project {
  width: calc(100% - 6em);
  background: #ed7373;
  color: #222;
  box-shadow: 0 3px 6px -2px #ccc;
  margin: 2em auto;
  padding: 1em;
}

.project:nth-of-type(2n) img {
  width: 240px;
  margin-right: 1em;
  margin-bottom: 1em;
  box-shadow: 0 3px 6px -2px #ccc;
}

.project:nth-of-type(2n + 1) img {
  width: 240px;
  margin-left: 1em;
  margin-bottom: 1em;
  box-shadow: 0 3px 6px -2px #ccc;
}

@media screen and (max-width: 625px) { main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

footer a {
    margin: 0;
  }

  #form {
    margin: 0;
  }
  
  .project {
    width: calc(100% - 2em);
  }
  .project:nth-of-type(2n) img,
  .project:nth-of-type(2n + 1) img {
    width: 100%;
    max-width: 240px;
    margin: 0 auto 1em;
    display: block;
  }
}
